<template>
  <div class="chat">
    <div class="chat-header">
      <div class="chat-title">Sample Chat</div>
    </div>
    <div class="chat-body">
      <ul class="message-list">
        <li v-for="(message, index) in messages" :key="index" :class="message.from === from ? 'outgoing-message' : 'incoming-message'">
          <div class="message-content">{{ message.content }}</div>
        </li>
      </ul>
    </div>
    <div class="chat-footer">
      <div class="input-wrapper">
        <input 
          v-model="inputMessage" 
          type="text" 
          placeholder="Type a message..."
          v-on:keyup.enter="sendMessage"
        >
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      messages: [],
      inputMessage: '',
      from: Math.floor(Date.now() / 1000)
    }
  },
  mounted() {
    const socket = new WebSocket('ws://localhost:8080');
    socket.addEventListener('open', () => {
      console.log('WebSocket connection established');
    });
    socket.addEventListener('message', (event) => {
      console.log(event);
      const message = JSON.parse(event.data);
      this.messages.push(message);
    });
  },
  methods: {
    sendMessage() {
      const socket = new WebSocket('ws://localhost:8080');
      socket.addEventListener('open', () => {
        const message = {
          from: this.from,
          content: this.inputMessage
        };
        socket.send(JSON.stringify(message));
        this.inputMessage = '';
      });
    }
  }
}
</script>
<style>
  .chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  background-color: #075e54;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-title {
  font-size: 1.5rem;
}

.chat-body {
  flex: 1;
  background-color: #eaeaea;
  overflow-y: auto;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-list li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.incoming-message {
  background-color: #fff;
  align-self: flex-start;
}

.outgoing-message {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message-content {
  font-size: 1.2rem;
}

.chat-footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
}

button {
  background-color: #075e54;
  color: #fff;
  border: none;
  outline: none;
}

</style>